<nav id="sidebar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <div class="sidebar-container">
    {{ with ($.Scratch.Get "authorPicture") }}
      <div class="sidebar-profile">
        <a href="{{ if $.Site.Params.sidebar.profile.url }}{{ $.Site.Params.sidebar.profile.url }}{{ else }}{{ "/#about" }}{{ end }}">
          <img class="sidebar-profile-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=110{{ end }}" alt="{{ i18n "global.author_picture" }}" />
        </a>
        <h4 class="sidebar-profile-name">{{ $.Site.Author.name }}</h4>
        {{ with $.Site.Author.bio }}
          <h5 class="sidebar-profile-bio">{{ . | markdownify }}</h5>
        {{ end }}
      </div>
    {{ end }}
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.main "root" $) }}
      <li class="sidebar-button">
      {{ range .Site.Languages }}
        {{ $lang := .Lang }}
        {{ $flag := ""}}
        {{ if eq $lang "id" }}
        {{ $flag = "id" }}
        {{ else if eq $lang "en" }}
        {{ $flag = "gb" }}
        {{ end }}
        <a class="sidebar-button-link" href="{{ $.Site.BaseURL }}/{{ $lang }}">
          <i class="sidebar-button-icon flag-icon flag-icon-{{ $flag }}"></i>
          <span class="sidebar-button-desc">{{ upper $lang }}</span>
        </a>
      {{ end }}
      </li>
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.links "root" $) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.misc "root" $) }}
    </ul>
  </div>
</nav>
