// Highlight.js custom theme
// Follow guidelines
// 1. Uncomment the block just below - remove `/*` and `*/`
// 2. Fill `background`, `color`, `border-right-color` properties
// with properties of `.hljs` CSS class of your theme
// 3. Put your theme where it's indicated just below
// 4. Remove `.hljs {...}` rules
// 5. Remove `hljs-` of all CSS class name. E.g : `.hljs-comment` becomes `.comment`
// 6. Comment line 61 (`'themes/tranquilpeak',`) of `source/_css/tranquilpeak.scss` file
// 7. Run `grunt buildProd` to build the theme and see the result

// Monokai
$custom-display: block;
$custom-overflow-x: auto;
$custom-padding: 0.5em;
$custom-background: #272822;
$custom-color: #ddd;

// Github style
// $custom-display: block;
// $custom-background: white;
// $custom-padding: 0.5em;
// $custom-color: #333333;
// $custom-overflow-x: auto;

// VS2015
// $custom-display: block;
// $custom-overflow-x: auto;
// $custom-padding: 0.5em;
// $custom-background: #1E1E1E;
// $custom-color: #DCDCDC;

// Default code block
pre > code {
    background: $custom-background;
    color: $custom-color;
}

// Default inline code
code {
    background-color: $custom-background;
}

// Tabbed code block tab
// If your theme is dark then use a lighter background
// to see clearly which tab is active
.codeblock--tabbed figcaption .tab.active {
    background: $custom-background;
    color: $custom-color;
}

// highlight code block
figure.highlight,
.codeblock {
    background: $custom-background;
    color: $custom-color;

    figcaption {
        background: $custom-background;
        color: $custom-color;
    }
    .gutter {
        background: $custom-background;
        border-right-color: $custom-padding;
        .line {
            color: $custom-color;
        }
    }
    // PUT YOUR THEME HERE
    /*
    * Visual Studio 2015 dark style
    * Author: Nicolas LLOBERA <nllobera@gmail.com>
    */


    // .keyword,
    // .literal,
    // .symbol,
    // .name {
    // color: #569CD6;
    // }
    // .link {
    // color: #569CD6;
    // text-decoration: underline;
    // }

    // .built_in,
    // .type {
    // color: #4EC9B0;
    // }

    // .number,
    // .class {
    // color: #B8D7A3;
    // }

    // .string,
    // .meta-string {
    // color: #D69D85;
    // }

    // .regexp,
    // .template-tag {
    // color: #9A5334;
    // }

    // .subst,
    // .function,
    // .title,
    // .params,
    // .formula {
    // color: #DCDCDC;
    // }

    // .comment,
    // .quote {
    // color: #57A64A;
    // font-style: italic;
    // }

    // .doctag {
    // color: #608B4E;
    // }

    // .meta,
    // .meta-keyword,
    // .tag {
    // color: #9B9B9B;
    // }

    // .variable,
    // .template-variable {
    // color: #BD63C5;
    // }

    // .attr,
    // .attribute,
    // .builtin-name {
    // color: #9CDCFE;
    // }

    // .section {
    // color: gold;
    // }

    // .emphasis {
    // font-style: italic;
    // }

    // .hljs-strong {
    // font-weight: bold;
    // }

    // /*.hljs-code {
    // font-family:'Monospace';
    // }*/

    // .hljs-bullet,
    // .hljs-selector-tag,
    // .hljs-selector-id,
    // .hljs-selector-class,
    // .hljs-selector-attr,
    // .hljs-selector-pseudo {
    // color: #D7BA7D;
    // }

    // .hljs-addition {
    // background-color: #144212;
    // display: inline-block;
    // width: 100%;
    // }

    // .hljs-deletion {
    // background-color: #600;
    // display: inline-block;
    // width: 100%;
    // }

    /*
    Monokai style - ported by Luigi Maselli - http://grigio.org
    */


    .tag,
    .keyword,
    .selector-tag,
    .literal,
    .strong,
    .name {
    color: #f92672;
    }

    .code {
    color: #66d9ef;
    }

    .class .title {
    color: white;
    }

    .attribute,
    .symbol,
    .regexp,
    .link {
    color: #bf79db;
    }

    .string,
    .bullet,
    .subst,
    .title,
    .section,
    .emphasis,
    .type,
    .built_in,
    .builtin-name,
    .selector-attr,
    .selector-pseudo,
    .addition,
    .variable,
    .template-tag,
    .template-variable {
    color: #a6e22e;
    }

    .comment,
    .quote,
    .deletion,
    .meta {
    color: #75715e;
    }

    .keyword,
    .selector-tag,
    .literal,
    .doctag,
    .title,
    .section,
    .type,
    .selector-id {
    font-weight: bold;
    }
}
